

<ion-view view-title="" hide-back-button="false" hide-nav-bar="false">

<ion-nav-buttons side="left" >
 <i class="icon ion-ios-arrow-back" style="font-size:32px;" ui-sref="app.main()"></i> 
</ion-nav-buttons>



	<ion-nav-title align-title="left"  ui-sref="app.main()">
        <img class="title-image" src="img/logo.png" style="width:40%;"/>
    </ion-nav-title>
	


	<ion-content class="background"  class="has-header">

	<p ng-bind-html="AboutText | stripslashes:true"></p>
       
  </ion-content>
</ion-view>
