<ion-view view-title="MY ZODE" cache-view="true" hide-nav-bar="false" hide-back-button="false" >
	
    <ion-nav-title align-title="left" ui-sref="app.main()">
        <img class="title-image" src="img/logo.png" style="width:40%;" />
    </ion-nav-title>
    
	
	
  <ion-content style="background-color:white">
  	<div class="zodebarHeader">
            <div ng-click="changeType(1)">
                <img src="{{privateImage}}" style="width:100%;">
            </div>
            <div ng-click="changeType(0)"> 
                <img src="{{publicImage}}" style="width:100%;">
            </div>
   	</div>
    <div class="titleInputDiv" align="center">
    	<input class="titleInput" type="text" ng-change="changeInput()" placeholder="Title" ng-model="fields.title">
		
		
    	<input class="titleInput" type="text" style="margin-top:5px;" ng-change="changeInput()" placeholder="Address" g-places-autocomplete force-selection="true"  ng-model="fields.address" ng-if="addressToggle == '1'">
    	<input class="titleInput" type="tel" style="margin-top:5px;" ng-change="changeInput()" placeholder="Telephone" ng-model="fields.telephone" ng-if="telephoneToggle == '1'">
    	<input class="titleInput" type="tel" style="margin-top:5px;" ng-change="changeInput()" placeholder="Fax" ng-model="fields.fax" ng-if="faxToggle == '1'">
    	<input class="titleInput" type="email" style="margin-top:5px;" ng-change="changeInput()" placeholder="Mail" ng-model="fields.mail" ng-if="mailToggle == '1'">
    	<input class="titleInput" type="url" style="margin-top:5px;" ng-change="changeInput()" placeholder="Facebook" ng-model="fields.facebook" ng-if="facebookToggle == '1'">
    	<input class="titleInput" type="url" style="margin-top:5px;" ng-change="changeInput()" placeholder="Youtube" ng-model="fields.youtube" ng-if="youtubeToggle == '1'">
    	<input class="titleInput" type="url" style="margin-top:5px;" ng-change="changeInput()" placeholder="Twitter" ng-model="fields.twitter" ng-if="twitterToggle == '1'">
    	<input class="titleInput" type="url" style="margin-top:5px;" ng-change="changeInput()" placeholder="Site" ng-model="fields.site" ng-if="siteToggle == '1'">
		
		
		
		
		
		
        <textarea  rows="6" cols="50" style="margin-top:10px;" ng-change="changeInput()" class="titleInput" type="text" placeholder="Add Text About QR" ng-model="fields.desc"> </textarea>
        
        <div class="addImage" ng-click="addPictures()">
        	<div>
            	<img src="img/plus.png" style="width:100%" />
            </div>
            <p>
            	Add Photo
            </p>
        </div>
        <div class="addImage" ng-click="openTogglesModal()">
        	<div>
            	<img src="img/plus.png" style="width:100%" />
            </div>
            <p>
            	Add Text Column
            </p>
        </div>
        <div class="addImage" align="left">
        	<table>
            	<tr>
                	<td ng-repeat="item in imagesArray">
                    	<img ng-src="{{host}}/{{item.image}}" ng-click="openImageModal($index,item.image,item.index)" style="width:100px" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
   
	<!-- <div align="center" style="margin-top:50px; padding-bottom:100px;">
	
		<div ng-repeat="item in imagesArray">
		<img ng-src="{{host}}/{{item.image}}" style="width:100%;">
		</div>
   
		<div class="titleInputDiv"  style="margin-top:50px; padding-bottom:100px;">

		  <label class="item item-input" ng-if="addressToggle == '1'">
			<span class="input-label">Address</span>
			<input type="text" class="titleInput" placeholder="Address" ng-model="fields.address">
		  </label>
		  
		  <label class="item item-input" ng-if="telephoneToggle == '1'">
			<span class="input-label">Telephone</span>
			<input type="text" placeholder="Telephone" ng-model="fields.telephone">
		  </label>
		  <label class="item item-input" ng-if="faxToggle == '1'">
			<span class="input-label">Fax</span>
			<input type="text" placeholder="Fax" ng-model="fields.fax">
		  </label>
		  <label class="item item-input" ng-if="mailToggle == '1'">
			<span class="input-label">Mail</span>
			<input type="text" placeholder="Mail" ng-model="fields.mail">
		  </label>
		  <label class="item item-input" ng-if="facebookToggle == '1'">
			<span class="input-label">Facebook</span>
			<input type="text" placeholder="Facebook" ng-model="fields.facebook">
		  </label>
		  <label class="item item-input" ng-if="youtubeToggle == '1'">
			<span class="input-label">Youtube</span>
			<input type="text" placeholder="Youtube" ng-model="fields.youtube">
		  </label>
		  <label class="item item-input" ng-if="twitterToggle == '1'">
			<span class="input-label">Twitter</span>
			<input type="text" placeholder="Twitter" ng-model="fields.twitter">
		  </label>
		  <label class="item item-input" ng-if="siteToggle == '1'">
			<span class="input-label">Site</span>
			<input type="text" placeholder="Site" ng-model="fields.site">
		  </label>		  
		 
		  
		</div> 
 -->	

	
	<div style="margin-top:450x;">
	</div>
	
 <!--
 	<div class="bar bar-footer" style="height:130px;  width:100%; padding:0;" align="center" >
    	<div style="width:100%" align="center">
	-->
            <div class="footerIcons" align="center">
                <div class="footerIconsLeft" ng-click="saveBtn()">
                    <img src="img/accept.png" style="width:100%;" />
                </div>
                <div ng-click="deleteCode()" class="footerIconsRight" ng-if="CodeId !='-1'">
                    <img src="img/delete.png" style="width:100%;" />
                </div>
                <div   ng-if="CodeId =='-1'" class="footerIconsRight" ui-sref="app.codes()">
                    <img src="img/back.png" style="width:100%" />
                </div>				
            </div>
	<!--
        </div>
	</div>
	-->
	
	
	</div>
  </ion-content>
  
          <script id="image-modal2.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeImageModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{detailImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
					
					<div class="row" ng-if="codeOwner == userid" style="margin-top:-10px; width:100%; background-color:white; position:absolute; z-index:10; bottom:10px" >

						<button class="button icon-chevron-right ion-trash-a button-block button-assertive col col-40" style="margin-left:0px; direction:rtl; margin-right:2px" ng-click="deleteImage()">
						  Delete Photo
						</button>
					</div>	

							
          </script>

		  
</ion-view>
