<ion-view view-title="MY ZODE" >

	<ion-nav-title align-title="left" ui-sref="app.main()">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
	<!--
	<div class="bar bar-footer" style="height:130px;  width:100%; padding:0;" align="center" >
    	<div style="width:100%" align="center">
            <div class="footerIcons">
                <div ng-click="saveGroup()">
                    <img src="img/accept.png" start="width:100%;" />
                </div>
                <div ng-click="deleteGroup()" ng-if="Groupid !='-1'">
                    <img src="img/delete.png" start="width:100%;" />
                </div>
                <div  ng-if="Groupid =='-1'" ui-sref="app.groups()">
                    <img src="img/back.png" start="width:100%;" />
                </div>					
            </div>
        </div>
	</div>	
	-->
	<div class="bar bar-footer" style="height:130px;  width:100%; padding:0;" align="center" >
    	<div style="width:100%" align="center">
            <div class="footerIcons">

			
				<div class="footerIcons" align="center">
					<div class="footerIconsLeft" ng-click="saveGroup()">
						<img src="img/accept.png" style="width:100%;" />
					</div>
					<div ng-click="deleteGroup()" class="footerIconsRight" ng-if="Groupid !='-1'" >
						<img src="img/delete.png" style="width:100%;" />
					</div>
					<div   ng-if="Groupid =='-1'" class="footerIconsRight" ui-sref="app.groups()">
						<img src="img/back.png" style="width:100%" />
					</div>				
				</div>
				
				
          </div>					
       </div>
    </div>
			
	
	<!-- <div class="bar bar-footer" style="height:12%;  width:100%; padding:0;" >
    	<div class="tabs tabs-icon-only" style="margin:0px; width:100%; height:100%; padding:0; position:relative; bottom:0px;!important;" >
            <button class="button button-full button-positive" ng-click="saveGroup()">
				SAVE
			</button>
             <button class="button button-full button-positive" ng-if="Groupid !='-1'" ng-click="deleteGroup()">
				DELETE
			</button>         
        </div>
	</div>	-->
	
  <ion-content >
  
  <!--
  <img ng-src="{{host}}/{{fields.image}}" ng-if="fields.image" style="width:100%;">
  -->
	<div align="center" style="margin-top:10px;">
	
		<div class="groupInfo">
        	<div class="groupInfoImg" align="center">
            	<div style="width:80%">
					<img src="{{host}}/{{fields.image}}" ng-click="addPictures()" style="border-radius:50%; width:100%;" ng-if="fields.image" >
                	<img src="img/bigGroup.png" style="width:100%;" ng-click="addPictures()"  ng-if="!fields.image"/>
                </div>
            </div>
            <div class="groupInfoTitle">
            	<input class="titleInput" type="text" placeholder="Title" ng-model="fields.title">
        		<textarea  rows="3" cols="50" style="margin-top:10px;" class="titleInput" type="text" placeholder="Add Text About Group" ng-model="fields.desc"> </textarea>
            </div>
        </div>
        <div class="greyLine"></div>
        <div class="addImage" ng-click="pickContactUsingNativeUI()">
        	<div>
            	<img src="img/plus.png" style="width:100%" />
            </div>
            <p >
            	Add Contacts
            </p>
        </div>
		<!--<div class="list" style="margin-top:100px;">
		  <label class="item item-input">
			<span class="input-label">Title</span>
			<input type="text" placeholder="" ng-model="fields.title">
		  </label>
		  <label class="item item-input">
			<span class="input-label">Description</span>
			 <textarea placeholder="" ng-model="fields.desc"></textarea>
		  </label>	  
		 
		  
		</div>-->
		


		
<!--
	<div align="left">
		<ion-list>
		  <ion-checkbox ng-repeat="item in Contacts " ng-click="pushcontacts(item.id,item.name,item.phone)" ng-value="item.id"  ng-model="item.checked">{{item.name}}</ion-checkbox>
		</ion-list>
		
	</div>

	
	<div style=" padding-bottom:10px; ">
		<button class="button button-block button-positive" ng-click="addPictures()">
		  Add Image
		</button>
	</div>

	
	
	<div style=" padding-bottom:60px;">
		<button class="button button-block button-positive" ng-click="pickContactUsingNativeUI()">
		  Add Contacts
		</button>
	</div>-->
	
  <div ng-repeat="item in Contacts" ng-if="item.phone">
	

    <div class="addImage"  style="padding-top:4px; margin-top:0px; ">
        	<div ng-click="deleteContact($index,item.index)">
            	<img src="img/minus.png" style="width:100%"  />
            </div>
            <p  style="font-size:14px; font-weight:300;">
            	{{item.name}} &nbsp;&nbsp;&nbsp;&nbsp; {{item.phone}}
            </p>
    </div>
        
   <!-- <h2>{{item.name}}</h2>
    <p>{{item.phone}}</p>


    <ion-delete-button class="ion-minus-circled"
                       ng-click="Contacts.splice($index, 1)">
    </ion-delete-button>-->


  </div>
	
	</div>
	

<div style="padding-top:80px;">
</div>
  </ion-content>
</ion-view>
