<ion-view view-title="MY ZODE" cache-view="false" hide-nav-bar="false" hide-back-button="false" >

	<ion-nav-title align-title="left" ui-sref="app.main()">
        <img class="title-image" src="img/logo.png" style="width:40%;" />
    </ion-nav-title>
    

	<div ng-if="TypeSelected == 1" class="bar bar-footer" style="width:100%;height:70px !important;   background-color:white" align="center">
    	<div style="width:100%;  padding-top:5px; position:relative; background-color:white !important" align="center" >
    		<img src="img/necode_btn.png" ng-if="TypeSelected == '1'" style="width:80%;" ui-sref="app.addcode({ItemId: '-1'})">
			<!-- <img src="img/groups.png" style="width:80%;" ui-sref="app.groups()"> -->
        </div>
	</div>	
	
    <div class="bar bar-subheader"  style="margin-top:0px; border:none !important; padding:0px; margin:0px; height:10% !important;  color:#efefef !important">
        <div class="zodebarHeader">
                <div>
                    <img ng-src="{{scanBtn}}" style="width:100%;" ng-click="changeType(2)">
                </div>
                <div>
                    <img ng-src="{{myQr}}" style="width:100%;" ng-click="changeType(1)">
                </div>
        </div>
	</div>
	
  <ion-content class="has-subheader" overflow-scroll="true" style="margin-top:13%; ">
    <div class="list list-inset" >
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="postInput.name" ng-keydown="blurText()">
          </label>
    </div>		
        
	<div align="center">
	
	<!--
	| orderObjectBy:'unread':true 
	-->
	
	 
	<div class="list"  style="margin-top:-6px; padding-bottom:120px;">

		<div class="qrItem" ng-repeat="item in Codes | orderBy:['unreaddate','-date']  | filter:postInput" ng-if="TypeSelected == '1'">
        	<div class="qrContent">
            	<div class="qrImage" align="left">
                	<img ng-click="openModal(item.unique)" src="http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://tapper.co.il/zode/index.php?code=zode_{{item.unique}}&chld=H|0" style="width:100%">
                </div>
                <div class="qrInfo" ui-sref="app.details({ItemId: item.index})" style="height:50px;">
                	 <h2>{{item.name}}</h2>
		 			 <p>{{item.details|cutString_TitlePage:true:30}}</p>
                </div>
                <div class="qrshare" style="float:right; margin-right:30px;"  ng-click="ShareCode(item.index,$index,item.unique,0)">
                	
                	<div>
					<!-- new comments -->
						<span  class="badge badge-royal" ng-if="item.unread > 0" style="">{{item.unread}}</span>
					</div>

					
					<img src="img/shareicon.png" style="width:100%;">
                </div>
				<!--
                <div class="qrEdit">
				   <img src="img/shareicon.png" style="width:100%;">

                	<img src="img/edit_icon.png" ui-sref="app.addcode({ItemId: item.index})" style="width:100%; margin-top:1px;">
                    <img src="img/delete_icon.png" ng-click="deleteCode(item.index,$index)" style="width:100%; margin-top:-5px;">
                </div>
				-->
                <div class="whiteLine"></div>
            </div>
		</div>
		
		<!--
		ng-class="(item.read=='0') ? 'readComment' : 'unreadComment'"
		-->
		<div class="qrItem"  ng-repeat="item in Scans | orderBy:['unreaddate','changedate','-date'] | filter:postInput " ng-if="TypeSelected == '2'">
        	<div class="qrContent">
            	<div class="qrImage" align="left">
					
                	<img ng-click="openModal(item.unique)" src="http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://tapper.co.il/zode/index.php?code=zode_{{item.unique}}&chld=H|0" style="width:100%">
                </div>
                <div class="qrInfo">
                	 <h2 ui-sref="app.details({ItemId: item.code_id})">{{item.name}}</h2>
		 			 <p ui-sref="app.details({ItemId: item.code_id})">{{item.details|cutString_TitlePage:true:30}}</p>
                </div>
				
                <div class="qrshare" style="float:right; margin-right:30px;" ng-click="ShareCode(item.code_id,$index,item.unique,1)">
                	<div>
					<!-- changed code -->
					<span  class="badge badge-assertive"  ng-if="item.changes > 0" style="">{{item.changes}}</span>
					
					<!-- new comments -->
					<span  class="badge badge-royal" ng-if="item.unread > 0" style="">{{item.unread}} </span>
					
						<!-- new scan -->
						<span ng-if="item.read == 0" class="badge badge-energized"  style="">1</span>
					</div>
					<!-- <p>{{item.unreaddate}}</p> -->
					
					<img src="img/shareicon.png" style="width:100%;">
                </div>
				<!--
                <div class="qrEdit">
                    <img src="img/delete_icon.png" ng-click="deleteCode(item.index,$index)" style="width:100%; margin-top:5px;">
                </div>
				-->
                <div class="whiteLine"></div>
            </div>
		</div>
		


		
		
	</div>	
	
	</div>

	
  </ion-content>
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{qrimage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
					<div class="row" ng-if="codeOwner == userid" style="margin-top:-10px; width:100%; background-color:white; position:absolute; z-index:10; bottom:10px" >

						<button class="button icon-chevron-right ion-printer button-block button-calm col col-40" style="margin-left:0px; direction:rtl; margin-right:2px" ng-click="printImage()">
						  Print QR
						</button>
					</div>
          </script>


          <script id="share-modal.html" type="text/ng-template">
		  
					<div style="width:100%; background-color:white !important;" align="center" >
						<div class="modal image-modal transparent" ng-click="closeShare()" style="width:80%; margin-top:100px;">
							<div class="modalBackground" ng-if="ShareType == 0"><img src="img/share/edit.png"  ng-click="codeOptions(1)" style="width:100%;"></div>					
							<div class="modalBackground"><img src="img/share/delete.png" ng-click="codeOptions(0)" style="width:100%;"></div>
							<div class="modalBackground"><img src="img/share/friend.png" ng-click="codeOptions(2)" style="width:100%;"></div>
							<div class="modalBackground"><img src="img/share/group.png"  ng-click="codeOptions(3)" style="width:100%;"></div>
							<div class="modalBackground"><img src="img/share/share.png" ng-click="codeOptions(4)" style="width:100%;"></div>

						</div>
					</div>

          </script>
		  
		  
		  
		  
</ion-view>
