<ion-view view-title="Login" hide-back-button="true">

	<ion-nav-title align-title="left">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
  <ion-content >
	<div class="list">
	  <label class="item item-input">
		<span class="input-label">Email</span>
		<input type="email" placeholder="Email" ng-model="login.email">
	  </label>
	  <label class="item item-input">
		<span class="input-label" >Password</span>
		<input type="password" placeholder="Password" ng-model="login.password">
	  </label>
	</div>
	<div class="padding">
        <button class="button button-block button-positive" ng-click="LoginBtn()">Sign In</button>
		<button class="button button-block button-royal" ui-sref="app.forgot()">Forgot Password</button>
		<button class="button button-block button-calm" ui-sref="app.register()">Register</button>
      </div>	
  </ion-content>
</ion-view>
