<ion-view view-title="" cache-view="false" hide-back-button="true" hide-nav-bar="false">
  <ion-content class="background">
        <div align="center">
        	<div class="mainLogo" align="center">
            	<img src="img/logo.png"  style="width:40%" />
            </div>
			
			
			



	
<!--			
            <div class="list list-inset">
              <label class="item item-input" style="tex">
                <i class="icon ion-search placeholder-icon" style="float:right !important"></i>
                <input type="text" placeholder="Search" style="border-radius:20px !important;">
              </label>
            </div>
			
			
-->
			  <div class="item item-input-inset" style="border-top:0px; border-bottom:0px; margin-top:20px; background:#00AACA;">
				<label class="item-input-wrapper" style="tex">
                <input type="text" placeholder="Search" ng-model="fields.search" style="border-radius:20px !important;" ng-keypress="enterPress($event)">
				</label>
				<button class="button button-small" ng-click="searchBtn()">
				  Search
				</button>
			  </div>


			
            <div class="mt50" align="center" >
            	<img src="img/scanbtn.png" ng-click="scanQR()"  style="width:50%" />
            </div>
            <div class="mt50" align="center" ui-sref="app.codes()">
            	<img src="img/myzode_btn.png"  style="width:85%" />
            </div>
			<span class="badge badge-assertive" ng-if="sharedcodes > 0" style="z-index:100; position:relative; right:120px; bottom:40px;">{{sharedcodes}}</span>


			
            <div class="mt10" align="center" ng-click="goToWhats()">
            	<img src="img/whatsnew_btn.png"  style="width:85%" />
            </div>
			<span class="badge badge-assertive" ng-if="unread > 0" style="z-index:100; position:relative; right:120px; bottom:40px;">{{unread}}</span>

        </div>
  </ion-content>
</ion-view>
