<ion-view view-title="MY ZODE" cache-view="false" hide-nav-bar="false" ide-back-button="true" >

	<ion-nav-title align-title="left" ui-sref="app.main()">
        <img class="title-image" src="img/logo.png" style="width:40%;" />
    </ion-nav-title>
    

	

  <ion-content class="has-subheader2" overflow-scroll="true"  style="margin-top:0%; ">
  
		  
	  <div class="item item-input-inset" style="border-top:0px; border-bottom:0px; margin-top:20px; ">
		<label class="item-input-wrapper" style="tex">
		<input type="text" placeholder="Search Code" ng-model="fields.search" style="border-radius:20px !important;" ng-keypress="enterPress($event)">
		</label>
		<button class="button button-small" ng-click="searchBtn()">
		  Research
		</button>
	  </div>

	  
    <div class="list list-inset" >
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Filter Results" ng-model="postInput.name" ng-keydown="blurText()">
          </label>



			  
    </div>		
        
	<div align="center">
	

	<div class="list"  style="margin-top:-6px; padding-bottom:0px;">

		<div class="qrItem" ng-repeat="item in searchJson | filter:postInput" >
        	<div class="qrContent">
            	<div class="qrImage" align="left">
                	<img ng-click="openModal(item.unique)" src="http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=http://tapper.co.il/zode/index.php?code=zode_{{item.unique}}&chld=H|0" style="width:100%">
                </div>
                <div class="qrInfo" style="width:66%;" ui-sref="app.details({ItemId: item.index})" style="height:50px;">
                	 <h2>{{item.name}}</h2>
		 			 <p>{{item.details|cutString_TitlePage:true:30}}</p>
                </div>
                <div class="qrshare" style="" >
                	<img src="img/shareicon.png" style="width:100%;" ng-click="ShareCode(item.index,$index,item.unique)">
					<!--
					<i class="ion-qr-scanner" ng-click="addScanned(item.index)" style="font-size:30px; color:#00A7C6;  z-index:-1"></i>
					-->
                </div>
				<div  >
				
				</div>
			
				<!--
                <div class="qrEdit">
                	<img src="img/edit_icon.png" ui-sref="app.addcode({ItemId: item.index})" style="width:100%; margin-top:1px;">
                    <img src="img/delete_icon.png" ng-click="deleteCode(item.index,$index)" style="width:100%; margin-top:-5px;">
                </div>
				-->
                <div class="whiteLine"></div>
            </div>
		</div>
		
		



		
		
	</div>	
	
	</div>

	
  </ion-content>
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{qrimage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
					<!--
					<div class="row" ng-if="codeOwner == userid" style="margin-top:-10px; width:100%; background-color:white; position:absolute; z-index:10; bottom:10px" >
						<button class="button icon-chevron-right ion-printer button-block button-calm col col-40" style="margin-left:0px; direction:rtl; margin-right:2px" ng-click="printImage()">
						  Print QR
						</button>
					</div>
					-->
          </script>

		  
          <script id="share-modal2.html" type="text/ng-template">
		  
					<div style="width:100%; background-color:white !important;" align="center" >
						<div class="modal image-modal transparent" ng-click="closeShare()" style="width:80%; margin-top:100px;">
							<div class="modalBackground"><img src="img/share/scans.png" ng-click="codeOptions(5)" style="width:100%;"></div>							
							<div class="modalBackground"><img src="img/share/friend.png" ng-click="codeOptions(2)" style="width:100%;"></div>
							<div class="modalBackground"><img src="img/share/group.png"  ng-click="codeOptions(3)" style="width:100%;"></div>
							<div class="modalBackground"><img src="img/share/share.png" ng-click="codeOptions(4)" style="width:100%;"></div>

						</div>
					</div>

          </script>
		  

		  
		  
</ion-view>
