<ion-view view-title="" cache-view="false">

	<ion-nav-title align-title="left">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
  <ion-content >

  		<div ng-repeat="item in WhatsnewJson">
        	<div ng-click="openComment($index,item)" style="width:100%; padding:10px; background-color:#f0f1f1; margin-top:4px;">
            	<!--
				ng-class="(item.read=='0') ? 'readComment' : 'unreadComment'"
				-->
				
				<div class="whatsnewTitle" >
                	<div class="whatsnewIcon" align="center">
                    	<div style="width:70%">
                        	<img src="img/groupIcon.png" style="width:100%" />
                        </div>
                    </div>
                	<div class="whatsnewInfo">
        				<p class="whatsnewTitleName">Name: {{item.sendername}}</p>
						<p class="whatsnewTitleDesc">Message Count: {{item.message.length}} </p>
						<div>
							<span ng-if="item.read == 0" class="badge badge-assertive"  >{{item.message.length}}</span>
						</div>
                    </div>
                </div>
				<!--
				ui-sref="app.details({ItemId: comment.code_id})"
				-->
                <div ng-if="item.isOpen"  ng-click="navigateCode(comment,WhatsnewJson[$index])" ng-repeat="comment in WhatsnewJson[$index].message" >

				
				<!--<ion-list show-delete="false" show-reorder="false"  can-swipe="true">-->

				<!-- <p>{{comment.show}}</p> -->
				<div ng-class="(comment.read=='0') ? 'readComment' : 'unreadComment'" style="width:100%;  padding:4px;  margin-top:4px;" >
                    	<div class="commentsIcon" style="margin-left:7%;" align="center">
                    		<div style="width:70%;">
                        		<img  ng-if ="comment.read == '0'" src="img/open_mail.png" style="width:100%" />
                                <img  ng-if ="comment.read != '0'" src="img/close_mail.png" style="width:100%" />
								<!-- <p>{{comment.index}}</p>  -->
                        	</div>
                    	</div>
						 
                    	<div class="commentsInfo" >
                            <p class="commentTitle">Code Title: {{comment.codetitle}} </p>
                            <p class="commentDesc">Comment : {{comment.comments}}</p>
                        </div>
						
						
					
			
                    </div>
                </div>
            </div>
        </div>
       <ion-list>
     
      </ion-list>

	  

  </ion-content>
</ion-view>