/* List Page*/

.background
{
	background-color:#00aaca;
}

.mt10{margin-top:10px;}
.mt30{margin-top:30px;}
.mt50{ margin-top:50px;}

.mainLogo
{
	width:100%;
	margin-top:0px;	
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.bar-footer {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.SearchTable
{
	direction:rtl;
	padding:5px;
	text-align:center;
	font-size:16px;
}

.SearchTable td
{
	padding:10px;
	padding-top:7px;
}

.TDsearch
{
	margin-left:10px;
	color:#555555;
	font-weight:bold;
}

.TDtype
{
	color:#a9a9a9;
}

.TDtypeActive
{
	background-color:#dc5353;
	color:white;
	border-radius:3px;
}


.custom-popup.popup-container .popup {
  width:90%;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.imageSlide
{
	width:50%;
}
/* QR Codes pages */
.zodebarHeader
{
	width:100%;
	overflow:hidden;
}

.zodebarHeader div
{
	width:50%;
	float:left;
}

.qrItem
{
	width:100%;
}


.qrContent
{
	width:100%;
	overflow:hidden;
	background-color:#f0f1f1;
}

.qrImage
{
	float:left;
	width:15%;
	padding-top:7px;
	padding-bottom:-3px;
	margin-left:10px;
}

.qrInfo
{
	float:left;
	width:56%;
	text-align:left;
	color:#3e3e3e;
	margin-left:10px;
	margin-top:15px;
}

.qrInfo h2
{
	color:#3e3e3e;
	font-weight:bold;
	font-size:20px;
}

.qrInfo p
{
	color:#3e3e3e;
	font-size:13px;
	margin-top:-10px;
}

.qrshare
{
	float:left;
	width:8%;
	margin-top:20px;
	padding-left:3px;
	padding-right:3px
}

.qrEdit
{
	float:right;
	width:12%;
	z-index:3;
	margin-bottom:0px;
	padding-bottom:0px;
	margin-bottom:-20px;
}

.whiteLine
{
	height:2px;
	width:100%;
	background-color:white;
	margin-top:0px;
	position:relative;
	z-index:100;
}

.titleInfo
{
	color:#197aa7;
	font-size:20px;
}

.regularInfo
{
	color:#383838;	
	font-size:16px;
	margin-top:-5px;
}


.smallInfo
{
	color:#383838;	
	font-size:14px;
	margin-top:-5px;
}

.Comment
{
	background-color:#535353;
	color:white !important;
	margin-top:0px !important;
	/*border:none !important;*/
	width:100%;
	overflow:hidden;
	padding-top:6px !important;
	padding-bottom:3px !important;
}

.Comment p 
{
	color:white;
}

.commentLeft
{
	width:17%;
	float:left
}

.commentLeft img
{
	border-radius:50%;
}


.commentRight
{
	width:75%;
	float:right;
	margin-right:10px;
	margin-top:8px;
}

.detailsInfo
{
	overflow:hidden;
	width:100%;
}

.shareInfo
{
	width:10%;
	float:left;
	margin-top:30px;
}

.detailsInfoPage
{
	padding-bottom:80px;
	margin-left:20px;
	margin-top:20px;
	float:left;
	width:80%;
}


/* Add Code Page */

.titleInputDiv
{
	width:100%;
	color:#585858;
	margin-top:20px;
}

.titleInput
{
	width:90%;
	background-color:#f0f2f1;
	border-radius:5px;
	padding:15px !important;
	color:#333;
}

.addImage
{
	width:90%;
	overflow:hidden;
	margin-top:10px;
}

.addImage div
{
	float:left;
	width:10%;
}

.addImage p
{
	float:right;
	width:88%;
	margin-top:8px;
	text-align:left;
	font-size:24px;
	color:#333;
	font-weight:bold;
}

.footerIcons
{
	width:100%;
	overflow:hidden;
}

.footerIconsLeft
{
	width:45%;
	float:left;
	margin-left:3%;
	top:20px;
}

.footerIconsRight
{
	width:45%;
	float:right;
	top:20px;
	margin-right:3%;
}

/* Add Group */
.groupInfo
{
	width:100%;
	overflow:hidden;
}

.groupInfoImg
{
	float:left;
	width:30%;
}

.groupInfoTitle
{
	width:70%;
	float:right;
}

.greyLine
{
	width:100%;
	height:1px;
	margin-top:10px;
	background-color:#f0f2f1;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}


.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}



.title-image
{
	width:150px;
	position:relative;
	margin-top:5px;
	z-index:100;
}

.readComment
{
	background-color:#83d6e5;
	overflow:hidden;
	width:100%;
}

.unreadComment
{
	background-color:#ddebed;
	overflow:hidden;
	width:100%;
}


/* whats new page */

.whatsnewTitle
{
	overflow:hidden;
	width:100%:
}

.whatsnewInfo
{
	float:left;
	width:80%;
	margin-top:5px;
}

.whatsnewIcon
{
	float:left;
	width:20%;
}

.whatsnewTitleName
{
	font-weight:bold;
	font-size:17px;
}

.whatsnewTitleDesc
{
	margin-top:-10px;
	font-size:17px;
}

.commentTitle
{
	font-size:14px;
}

.commentDesc
{
	margin-top:-10px;
	font-size:14px;
}

.commentsIcon
{
	float:left;
	width:13%;
	margin-top:8px;
}

.commentsInfo
{
	float:left;
	width:65%;
	margin-top:5px;
}

.popup-buttons .button 
{
	font-size:12px;
}

.modalBackground 
{
	/* margin-top:-4px; */
	background-color:gray;
}
