<ion-view view-title="Login" hide-nav-bar="false" hide-back-button="false">

	<ion-nav-title align-title="left">
       
    </ion-nav-title>
	
	
  <ion-content class="background">
  	 <div style="width:100%" align="center">
        <div style="width:90%">
        	 <img src="img/logo.png" style="margin-top:10px; width:50%;" />
             <label class="item item-input" style="margin-top:40px;">
                 <i class="icon ion-email placeholder-icon" style="float:right !important"></i>
                 <input type="email" placeholder="Email" style="border-radius:20px !important;" ng-model="forgot.email">
             </label>
             
             <img src="img/password.png" ng-click="sendPass()" style="margin-top:40px; width:100%;" />
         </div>     
         
	
  </ion-content>
</ion-view>
