<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Select Groups</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeGroupsModal()">Close</button>
    </div>
  </ion-header-bar>
  
 	<div class="bar bar-footer" style="height:12%;  width:100%; padding:0;" >
    	<div class="tabs tabs-icon-only" style="margin:0px; width:100%; height:100%; padding:0; position:relative; bottom:0px;!important;" >
            <button class="button button-full button-positive" ng-click="saveGroups()">
				SAVE
			</button>      
        </div>
	</div>	

	
  <ion-content>
		<ion-list>
		  <ion-checkbox ng-repeat="item in GroupsArray " ng-click="pushGroups(item.index)" ng-value="item.id"  ng-model="item.checked">{{item.title}} </ion-checkbox>
		</ion-list>
		
		
		
  </ion-content>
</ion-modal-view>
