<ion-view view-title="Login" hide-back-button="true" hide-nav-bar="true">

	<ion-nav-title align-title="left">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
  <ion-content class="background">
    <div style="width:100%" align="center">
        <div style="width:90%">
        	 <img src="img/logo.png" style="margin-top:40px; width:50%;" />
             <label class="item item-input" style="margin-top:40px;">
                 <i class="icon ion-email placeholder-icon" style="float:right !important"></i>
                 <input type="text" placeholder="Email" style="border-radius:20px !important;" ng-model="login.email">
             </label>
             <label class="item item-input" style="margin-top:10px;">
                 <i class="icon ion-locked placeholder-icon" style="float:right !important"></i>
                 <input type="password" placeholder="Password" style="border-radius:20px !important;" ng-model="login.password">
             </label>
             
             <img src="img/login.png" ng-click="LoginBtn()" style="margin-top:40px; width:100%;" />
             <img src="img/register.png" ui-sref="app.register()" style="margin-top:10px; margin-bottom:20px; width:100%;" />
			 <img src="img/facebook.png" ng-click="FaceBookLoginBtn()" style="margin-top:10px; margin-bottom:20px; width:100%;" />
			 
			 
             <a href="" ui-sref="app.forgot()" style="color:white; margin-top:75px;">Forgot Password</a>
          <!--   <button class="button button-block button-positive" ng-click="LoginBtn()">Sign In</button>
		     <button class="button button-block button-royal" ui-sref="app.forgot()">Forgot Password</button>
		     <button class="button button-block button-calm" ui-sref="app.register()">Register</button> -->
         </div>     
    </div>    
    
	<!-- <div class="list">
	  <label class="item item-input">
		<span class="input-label">Email</span>
		<input type="email" placeholder="Email" ng-model="login.email">
	  </label>
	  <label class="item item-input">
		<span class="input-label" >Password</span>
		<input type="password" placeholder="Password" ng-model="login.password">
	  </label>
	</div>
	<div class="padding">
        <button class="button button-block button-positive" ng-click="LoginBtn()">Sign In</button>
		<button class="button button-block button-royal" ui-sref="app.forgot()">Forgot Password</button>
		<button class="button button-block button-calm" ui-sref="app.register()">Register</button>
    </div>	 -->
  </ion-content>
</ion-view>
