<ion-view view-title="Login" hide-back-button="false" hide-nav-bar="true">
	<ion-content class="background">
        <div style="width:100%" align="center">
            <div style="width:90%">
                 <img src="img/logo.png" style="margin-top:40px; width:50%;" />
                 <label class="item item-input" style="margin-top:40px;">
                     <i class="icon ion-person placeholder-icon" style="float:right !important"></i>
                     <input type="text" placeholder="Full Name" style="border-radius:20px !important;" ng-model="register.name">
                 </label>
                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-ios-telephone placeholder-icon" style="float:right !important"></i>
                     <input type="tel" placeholder="Phone" style="border-radius:20px !important;" ng-model="register.phone">
                 </label>
                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-email placeholder-icon" style="float:right !important"></i>
                     <input type="email" placeholder="Email" style="border-radius:20px !important;" ng-model="register.email">
                 </label>
				 
                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-calendar placeholder-icon" style="float:right !important"></i>
                     <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')"   placeholder="Birth Date" style="border-radius:20px !important;" ng-model="register.birth">
                 </label>

                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-ios-circle-filled placeholder-icon" style="float:right !important"></i>
                     <select ng-model="register.gender" style="width:30%; border-radius:20px !important;">
						<option value="0">Male</option>
						<option value="1">Female</option>
					 </select>
					 
                 </label>

                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-location placeholder-icon" style="float:right !important"></i>
                     <input type="text"   g-places-autocomplete force-selection="true" placeholder="Address" style="border-radius:20px !important;" ng-model="register.address">
                 </label>				 
				 
                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-locked placeholder-icon" style="float:right !important"></i>
                     <input type="password" placeholder="Password" style="border-radius:20px !important;" ng-model="register.password">
                 </label>
                 
                 <img src="img/register.png" ng-click="registerBtn()" style="margin-top:40px;width:100%;" />
                 <img src="img/login.png" ui-sref="app.login()" style="margin-top:10px; margin-bottom:20px; width:100%;" />
                 <a href="" ui-sref="app.forgot()" style="color:white; margin-top:75px;">Forgot Password</a>
              <!--   <button class="button button-block button-positive" ng-click="LoginBtn()">Sign In</button>
                 <button class="button button-block button-royal" ui-sref="app.forgot()">Forgot Password</button>
                 <button class="button button-block button-calm" ui-sref="app.register()">Register</button> -->
             </div>     
        </div>    
        
      
       
  </ion-content>
</ion-view>
