<ion-modal-view>
  <!-- <ion-header-bar>
    <h1 class="title">Add Text Columbs</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>-->
  </ion-header-bar>
  
 	
    <div class="bar bar-footer" style="height:60px;  width:100%; padding:0;" align="center" >
    	<!-- <div class="tabs tabs-icon-only" style="margin:0px; width:100%; height:100%; padding:0; position:relative; bottom:0px;!important;" >
            <button class="button button-full button-positive" ng-click="saveToggles()">
				SAVE
			</button>      
        </div> -->
        
        <div style="width:100%" align="center">
        	<div class="footerIcons" align="center">
                <div class="footerIconsLeft" ng-click="saveToggles()">
                    <img src="img/accept.png" style="width:100%;" />
                </div>
                <div ng-click="closeModal()" class="footerIconsRight" >
                    <img src="img/delete.png" style="width:100%;" />
                </div>		
            </div>
        </div>
	</div>	

	
  <ion-content style="margin-top:10px;">
		<ion-list>
		  <ion-checkbox ng-model="toggles.address">Address</ion-checkbox>
		  <ion-checkbox ng-model="toggles.telephone">Telephone</ion-checkbox>
		  <ion-checkbox ng-model="toggles.fax">Fax</ion-checkbox>
		  <ion-checkbox ng-model="toggles.mail">Mail</ion-checkbox>
		  <ion-checkbox ng-model="toggles.facebook">Facebook</ion-checkbox>
		  <ion-checkbox ng-model="toggles.youtube">Youtube</ion-checkbox>
		  <ion-checkbox ng-model="toggles.twitter">Twitter</ion-checkbox>
		  <ion-checkbox ng-model="toggles.site">Site</ion-checkbox>
		</ion-list>
		
		
		
  </ion-content>
</ion-modal-view>
