<ion-view view-title="" cache-view="false">

	<ion-nav-title align-title="left" ui-sref="app.main()">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
  <ion-content overflow-scroll="true">
		
		<!--
		ng-class="(item.read=='0') ? 'readComment' : 'unreadComment'"
		-->
  
  		<div collection-repeat="item in WhatsnewJson" >
        	<div ng-click="navigateCode(item,$index)"  style="width:100%; padding:10px; background-color:#f0f1f1; margin-top:4px;">
            	<!--
				ng-class="(item.read=='0') ? 'readComment' : 'unreadComment'"
				-->
				
				<div class="whatsnewTitle" >
                	<div class="whatsnewIcon" align="center">
                    	<div style="width:70%">
						<!--
                        	<img src="img/groupIcon.png" style="width:100%" />
						-->
							<img  ng-if ="comment.read == '0'" src="img/open_mail.png" style="width:100%" />
							<img  ng-if ="comment.read != '0'" src="img/close_mail.png" style="width:100%" />
				
                        </div>
                    </div>
                	<div class="whatsnewInfo">
        				<p class="whatsnewTitleName">{{item.codetitle}}</p>
						<p class="whatsnewTitleDesc">{{item.comments}} </p>
						<div>
							<span ng-if="item.read == 0" class="badge badge-assertive"  >{{item.length}}</span>
						</div>
                    </div>
                </div>
				<!--
				ui-sref="app.details({ItemId: comment.code_id})"
				-->
    
            </div>
        </div>
       <ion-list>
     
      </ion-list>

	  

  </ion-content>
</ion-view>