<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Select Contacts</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeContacts()">Close</button>
    </div>
  </ion-header-bar>
  
 	<div class="bar bar-footer" style="height:12%;  width:100%; padding:0;" >
    	<div class="tabs tabs-icon-only" style="margin:0px; width:100%; height:100%; padding:0; position:relative; bottom:0px;!important;" >
            <button class="button button-full button-positive" ng-click="saveShare()">
				SAVE
			</button>      
        </div>
	</div>	

	
  <ion-content>
  <!--
		<ion-list>
		  <ion-checkbox ng-repeat="item in Contacts " ng-click="pushphones(item.phone)" ng-value="item.id"  ng-model="item.checked" ng-if="item.name.formatted">{{item.name.formatted}} {{item.phoneNumbers}}</ion-checkbox>
		</ion-list>
-->
         <div class="list" ng-show="Contacts">
            <div class="card" ng-repeat="contact in Contacts">
              <div class="item item-divider">
                {{ contact.name.formatted }}
              </div>
			  <p>test {{contact.Contacts}} </p>
              <div class="item item-text-wrap">
                <p><strong>Phone(s)</strong></p>
				
                <div ng-repeat="number in contact.Contacts">
                  <p>{{ number.value }}</p>
                </div>

              </div>
            </div>
          </div>
       

		
		
		
  </ion-content>
</ion-modal-view>
