<ion-view view-title="DETAILS" cache-view="false">
<!--
    <div class="bar bar-subheader" style="height:100px;" align="center">
			<img src="http://chart.apis.google.com/chart?cht=qr&chs=100x100&chl=zode_{{CodeData.unique}}&chld=H|0">

	</div>
-->

	<ion-nav-title align-title="left" ui-sref="app.main()">
        <img class="title-image" src="img/logo.png" style="width:40%;"/>
    </ion-nav-title>
	

<div class="bar bar-footer" style="height:60px;">
  <div  style=" margin-top:-10px; width:100%;">
          <div class="item-input-inset" style="width:100%;">
            <label class="item-input-wrapper"  style="width:75%; float:left" focus-me>
              <textarea  style="width:100%; height:50px; padding:10px; background-color:#EEEEEE;" id="chatInput"  placeholder="Write a comment..." ng-model="fields.chatbox" ng-keypress="enterPress($event)"></textarea>
            </label>
            <!-- <button type="submit" class="button button-small" > -->
              <img src="img/chat_arrow.png" style="width:7%; margin-left:10px; margin-top:1px;" ng-click="sendComment()" /> 
           <!-- </button>-->
        </div>
    </div>
</div>

	
  <ion-content style="">


		<!--<img src="{{host}}/{{imagesArray[0].image}}" style="width:100%">-->
			<ion-slide-box >
                  <ion-slide ng-repeat="item in imagesArray">
                     <img src="{{host}}/{{item.image}}" ng-click="showImageModal(item.image)" style="width:100%;"/>
                  </ion-slide>
            </ion-slide-box>
     
	<div ng-if="!imagesArray[0].image && Doneloading == 1">
		<img src="img/zode.png" style="width:100%;"/>
	</div>
		

	<!--
	<div>
	{{CodeData.images}}
	</div>
	-->
	
	<div class="detailsInfo">
        <div align="left" class="detailsInfoPage">
            <p class="titleInfo">{{CodeData.name}}
			<!--
            <p class="smallInfo" ng-if="addressToggle == '1'" ng-click="openWaze(CodeData.address)">Adress : {{CodeData.address}}</p>
            <p class="smallInfo" ng-if="telephoneToggle == '1'" ng-click="openPhone(CodeData.phone)">Phone : {{CodeData.phone}}</p>
            <p class="smallInfo" ng-if="faxToggle == '1'">Fax : {{CodeData.fax}}</p>
            <p class="smallInfo" ng-if="mailToggle == '1'" ng-click="openMail(CodeData.email)">Mail : {{CodeData.email}}</p>
            <p class="smallInfo" ng-if="facebookToggle == '1'" ng-click="openPage3(CodeData.facebook)">Facebook : {{CodeData.facebook}}</p>
            <p class="smallInfo" ng-if="youtubeToggle == '1'" ng-click="openPage(CodeData.youtube)">Youtube : {{CodeData.youtube}}</p>
            <p class="smallInfo" ng-if="twitterToggle == '1'" ng-click="openPage2(CodeData.twitter)">Twitter : {{CodeData.twitter}}</p>
            <p class="smallInfo" ng-if="siteToggle == '1'" ng-click="openPage(CodeData.website)">Site : {{CodeData.website}}</p>
			-->
            <p class="smallInfo" ng-if="CodeData.address" ng-click="openWaze(CodeData.address)">Adress : {{CodeData.address}}</p>
            <p class="smallInfo" ng-if="CodeData.phone" ng-click="openPhone(CodeData.phone)">Phone : {{CodeData.phone}}</p>
            <p class="smallInfo" ng-if="CodeData.fax">Fax : {{CodeData.fax}}</p>
            <p class="smallInfo" ng-if="CodeData.email" ng-click="openMail(CodeData.email)">Mail : {{CodeData.email}}</p>
            <p class="smallInfo" ng-if="CodeData.facebook" ng-click="openPage2(CodeData.facebook)">Facebook : {{CodeData.facebook}}</p>
            <p class="smallInfo" ng-if="CodeData.youtube" ng-click="openPage2(CodeData.youtube)">Youtube : {{CodeData.youtube}}</p>
            <p class="smallInfo" ng-if="CodeData.twitter" ng-click="openPage2(CodeData.twitter)">Twitter : {{CodeData.twitter}}</p>
            <p class="smallInfo" ng-if="CodeData.website" ng-click="openPage2(CodeData.website)">Site : {{CodeData.website}}</p>


			
			
            <p class="regularInfo" ng-bind-html="trustedHtml"></p>
        </div>
        <div class="shareInfo" >
        	<img src="img/shareicon.png" style="width:100%;" ng-click="ShareCode(CodeNumber)">
			<!--
			<div ng-if="isScanned" ng-click="addScanned(CodeData.index)">
			<i class="ion-qr-scanner" style="font-size:50px; color:#00A7C6;  z-index:-1"></i>
			</div>
			-->
        </div>
   </div>
	

 <div class="item item-text-wrap Comment" align="left"  ng-repeat="item in Comments">
 	<div class="commentLeft">
	<!-- <p>{{item.image}}</p> -->
    	<img ng-src="{{item.image |commentsImage:true }}" style="width:100%" />
    </div>
    <div class="commentRight">
        <p style=" direction:rtl;">{{item.name}}</p>
        <p style="margin-top:-7px; direction:rtl;">{{item.text}}</p>
		<div style="float:right;" ng-if="isOwner" ng-click="deleteComment($index,item.index)">
			<i class="ion-ios-trash-outline" style="font-size:30px; color:white;  z-index:-1"></i>
		</div>
    </div>
  </div>

  <div style=" padding-bottom:60px;">
  </div>




	
  </ion-content>
  
           <script id="details-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeImageModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  overflow-scroll="false" direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{detailsImage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
					
					
          </script>

		  
          <script id="share-modal3.html" type="text/ng-template">
		  
					<div style="width:100%; background-color:white !important;" align="center" >
						<div class="modal image-modal transparent" ng-click="closeShare()" style="width:80%; margin-top:100px;">
							<div class="modalBackground" ng-show="showEdit" ><img src="img/share/edit.png"  ng-click="codeOptions(1)" style="width:100%;"></div>					
							<div class="modalBackground" ng-if="isScanned"><img src="img/share/scans.png" ng-click="codeOptions(5)" style="width:100%;"></div>							
							<div class="modalBackground"><img src="img/share/friend.png" ng-click="codeOptions(2)" style="width:100%;"></div>
							<div class="modalBackground"><img src="img/share/group.png"  ng-click="codeOptions(3)" style="width:100%;"></div>
							<div class="modalBackground"><img src="img/share/share.png" ng-click="codeOptions(4)" style="width:100%;"></div>

						</div>
					</div>

          </script>
		  		  
		  
</ion-view>
