<ion-view view-title="Login" >

	<ion-nav-title align-title="left">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
  <ion-content >
	<div class="list">
	  <label class="item item-input">
		<span class="input-label">Email</span>
		<input type="email" placeholder="Email" ng-model="forgot.email">
	  </label>
	</div>
	<div class="padding">
        <button class="button button-block button-positive" ng-click="sendPass()">Send Password</button>
      </div>	
  </ion-content>
</ion-view>
