<ion-view view-title="GROUPS" cache-view="false">

<ion-nav-buttons side="left" >
 <i class="icon ion-ios-arrow-back" style="font-size:32px;" ui-sref="app.main()"></i> 
</ion-nav-buttons>


	<ion-nav-title align-title="left" ui-sref="app.main()">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
    <div class="bar bar-subheader" style="height:70px; border-bottom:none !important" align="center">
        <div class="list list-inset" style="margin-top:7px; ">
          <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search" ng-model="postInput" ng-keydown="blurText()">
          </label>
        </div>			
	</div>
	
    <div class="bar bar-footer" style="width:100%; padding:0; background-color:white" align="center">
    	<div style="width:100%; bottom:20px; position:relative; background-color:white !important" align="center" ui-sref="app.addgroup({ItemId: '-1'})">
    		<img src="img/new_group.png" style="width:80%;" ui-sref="app.addgroup({ItemId: '-1'})">
        </div>
	</div>	
   <!-- 
	<div class="bar bar-footer" style="height:12%;  width:100%; padding:0;" >
    	<div class="tabs tabs-icon-only" style="margin:0px; width:100%; height:100%; padding:0; position:relative; bottom:0px;!important;" >
            <button class="button button-full button-positive" ui-sref="app.addgroup({ItemId: '-1'})">
				CREATE NEW GROUP
			</button>				
        </div>
	</div>	-->
	
  <ion-content style="margin-top:30px;" overflow-scroll="true" class="has-subheader has-header">
	<div align="center">
	

	<div class="qrItem" ng-repeat="item in Groups | filter:postInput" >
        	<div class="qrContent">
            	<div class="qrImage" style="padding-top:10px;" align="left">
                	<img ng-click="openModal(item.image)" src="{{item.image|checkImgUrl:true}}" style="width:100%; border-radius:50%">
                </div>
                <div class="qrInfo">
                	<h2 ui-sref="app.addgroup({ItemId: item.index})">{{item.title}}</h2>
		  			<p ui-sref="app.addgroup({ItemId: item.index})">{{item.desc|cutString_TitlePage:true:30}}</p>
					<p>contacts : {{item.count}} </p>
                </div>
                <div class="qrshare">
                	
                </div>
                <div class="qrEdit">
                	<img ui-sref="app.addgroup({ItemId: item.index})" src="img/edit_icon.png" style="width:100%; margin-top:1px;">
                    <img src="img/delete_icon.png" ng-click="deleteGroup(item.index,$index)" style="width:100%; margin-top:-5px;">
                </div>
                <div class="whiteLine"></div>
            </div>
	</div>
        
	<!-- <div class="list">

		<div class="item item-thumbnail-left" ng-repeat="item in Groups | filter:postInput ">
		
		<img ui-sref="app.addgroup({ItemId: item.index})"   src="{{item.image|checkImgUrl:true}}">
		  <h2 ui-sref="app.addgroup({ItemId: item.index})">{{item.title}}</h2>
		  <p ui-sref="app.addgroup({ItemId: item.index})">{{item.desc|cutString_TitlePage:true:30}}</p>
 
		<div style="float:right;">
			<button class="button icon ion-edit" ui-sref="app.addgroup({ItemId: item.index})"></button>			
			<button class="button icon ion-trash-b" ng-click="deleteGroup(item.index,$index)"></button>
		  </div>

		  
		</div>


	</div>	
	
	</div>-->
  </ion-content>
  
          <script id="image-modal.html" type="text/ng-template">
					<div style="width:100%;" align="center">
						<div class="modal image-modal transparent" ng-click="closeImageModal()" style="width:80%; margin-top:100px;">
							<ion-scroll zooming="true"  direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">   
								<img ng-src="{{groupimage}}" style="width:100%;">
							</ion-scroll>
						</div>
					</div>
          </script> 
  
  
</ion-view>
