<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar align-title="center"  class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title">תפריט</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/main" style="direction:rtl;">
          ראשי
        </ion-item>
		
        <ion-item menu-close href="" ng-click="navigateWhatsNew()" style="direction:rtl;">
          מה חדש?
		  <span class="badge badge-assertive" ng-if="whatsNewCount > 0">{{whatsNewCount}}</span>

        </ion-item>

        <ion-item menu-close href="#/app/codes" style="direction:rtl;">
          My QR
		  <span class="badge badge-assertive" ng-if="qrCountBadge > 0">{{qrCountBadge}}</span>
        </ion-item>

        <ion-item menu-close href="#/app/groups" style="direction:rtl;">
          קבוצות
		  <span class="badge badge-assertive" ng-if="groupsCount > 0">{{groupsCount}}</span>		  
        </ion-item>

        <ion-item menu-close href="#/app/updateinfo" style="direction:rtl;">
          אזור אישי
        </ion-item>		
		
		 <ion-item menu-close href="#/app/about" style="direction:rtl;">
          עלינו
        </ion-item>
		
        <ion-item menu-close href="#" ng-click="LogOut()" style="direction:rtl;">
          התנתקות
        </ion-item>	

		
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
