<ion-view view-title="Register">

	<ion-nav-title align-title="left">
        <img class="title-image" src="img/logo.png" />
    </ion-nav-title>
	
	
  <ion-content >
	<div class="list">
	  <label class="item item-input">
		<span class="input-label">Full Name</span>
		<input type="text" placeholder="Full Name" ng-model="register.name">
	  </label>
	  <label class="item item-input">
		<span class="input-label">Phone</span>
		<input type="tel" placeholder="Phone" ng-model="register.phone">
	  </label>	  
	  <label class="item item-input">
		<span class="input-label">Email</span>
		<input type="email" placeholder="Email" ng-model="register.email">
	  </label>
	  <label class="item item-input">
		<span class="input-label">Password</span>
		<input type="password" placeholder="Password" ng-model="register.password">
	  </label>	  
	</div>
	<div class="padding">
        <button class="button button-block button-positive" ng-click="registerBtn()">Register</button>
		<button class="button button-block button-calm" ui-sref="app.login()">Login</button>
      </div>	
  </ion-content>
</ion-view>
