<ion-view view-title="" hide-back-button="false" hide-nav-bar="false" cache-view="false">

	<ion-nav-title align-title="left" ui-sref="app.main()">
        <img class="title-image" src="img/logo.png" style="width:40%;"/>
    </ion-nav-title>

  
	<ion-content class="background" >
        <div style="width:100%" align="center" >
            <div style="width:90%" >
			
				<!--
                 <img src="img/logo.png" style="margin-top:0px; width:50%;" />
				-->
				<div ng-click="selectImage()" style="margin-top:50px;">
					<!--<img src="img/avatar.png" ng-if="!userimage" style="width:100%;"> -->
					<img src="{{showimage}}"  style="width:100%;">
				</div>
				
                 <label class="item item-input" style="margin-top:40px;">
                     <i class="icon ion-person placeholder-icon" style="float:right !important"></i>
                     <input type="text" placeholder="Full Name" style="border-radius:20px !important;" ng-model="info.name">
                 </label>
				 
                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-ios-telephone placeholder-icon" style="float:right !important"></i>
                     <input type="tel" placeholder="Enter your phone number" style="border-radius:20px !important;" ng-model="info.phone">
                 </label>

                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-calendar placeholder-icon" style="float:right !important"></i>
                     <input type="text" onClick="(this.type='date')" onfocus="(this.type='date')"   placeholder="Birth Date" style="border-radius:20px !important;" ng-model="info.birth">
                 </label>

                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-ios-circle-filled placeholder-icon" style="float:right !important"></i>
                     <select ng-model="info.gender" style="width:30%; border-radius:20px !important;">
						<option value="0">Male</option>
						<option value="1">Female</option>
					 </select>
					 
                 </label>

                 <label class="item item-input" style="margin-top:10px;">
                     <i class="icon ion-location placeholder-icon" style="float:right !important"></i>
                     <input type="text"   g-places-autocomplete force-selection="true" placeholder="Address" style="border-radius:20px !important;" ng-model="info.address">
                 </label>                 

              <!--   <button class="button button-block button-positive" ng-click="LoginBtn()">Sign In</button>
                 <button class="button button-block button-royal" ui-sref="app.forgot()">Forgot Password</button>
                 <button class="button button-block button-calm" ui-sref="app.register()">Register</button> -->
             </div>     
        </div>    


	<div align="center" style="margin-top:50px;">
		<div class="footerIconsLeft2" align="center" style="width:80%; text-align:center;" ng-click="saveInfo()">
			<img src="img/accept.jpg" style="width:100%;" />
		</div>
	</div>
			

     
       
  </ion-content>
</ion-view>
